img {
    width: 100%;
    height: 300px;
    border-radius: 0 0 10px 10px;
}

.header-style {
    position: relative;
}

.header-style .image {
    height: 300px;
}

.header-style .title {
    color: white;
    font-size: 64px;
    position: absolute;
    left: 30%;
    bottom: 35%;
}
