.menu-bg{
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 100;
    margin: -32px 24px;
    background-color: white;
    padding: 12px 16px;
    border-radius: 16px;
    box-shadow: 0px 4px 10px -2px rgba(0,0,0,0.76);
}
